rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /awsStarBattle/ranking {
      allow read, write: if true;
    }
  }
}
